@import "tailwindcss";

body {
  @apply bg-black text-white;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .admin-page .bg-primary {
    @apply bg-gray-900;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
    @apply lg:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold;
    @apply lg:text-3xl
  }

  h3 {
    @apply text-3xl font-bold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-xl font-semibold;
  }

  h6 {
    @apply text-lg font-medium;
  }
 }
